body
{
    font-family: Arial;
}
#heading-todo
{
    text-align: center;
}
.grid-container
{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    margin-top: 20px;
    column-gap: 15px;
    row-gap: 15px;
    justify-content: space-evenly;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 600;    
}
#todo-input,#date-input
{
    font-size: 15px;
    font-weight: 400;
    padding: 10px 5px;
    cursor: pointer;
    width: 360px;
     
}
.d-button
{
    padding: 15px 10px;
    cursor: pointer;
    background-color: maroon;
    color: white;
    border: none;
    border-radius: 10px;
}
.add-button
{
    padding: 15px 10px;
    cursor: pointer;
    background-color: greenyellow;
    color: white;
    border: none;
    border-radius: 10px;
}

